<div class="container mt-5 mb-5">
  <h1 class="text-center">About</h1>

  <p>
    CloudKitchen is an online platform that enables restaurants to offer
    delivery and take-out services to their customers. The website features a
    suite of tools to help restaurants manage their orders, payment processing,
    and customer service. Restaurants can easily create their own custom menus,
    set delivery zones and delivery fees, track order status, and manage
    customer feedback. CloudKitchen also provides a suite of marketing tools to
    help restaurants to promote their businesses, including targeted ads and
    email campaigns. Restaurants can also access a range of analytics and
    reporting tools to help them better understand their customer base and make
    more informed decisions.
    <br />
    <br />
    This website would be an online restaurant ordering platform that would
    enable customers to browse restaurant menus, place orders and make payments.
    Customers would be able to search for restaurants in their area and view
    menus and prices. They would be able to select items and order them for
    delivery or pick-up. The website would provide restaurant owners with an
    efficient way to manage orders and customers. Customers would be able to
    track their orders, leave reviews and receive promotions and discounts. The
    website would also provide helpful information about food safety, nutrition
    and other topics related to ordering food online.
    <br />
  </p>
</div>
